:root {
    width: 500px;
    height: auto;
    --primary-color: #505033;
    --secondary-color: #F7F0F5AA;
    --accent1-color: #DECBB7;
    --accent2-color: #08A4BD99;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Caslon Display', Georgia, 'Times New Roman';
    color: var(--primary-color);
}

p {
    font-family: 'Roboto', Verdana, sans-serif;
    color: var(--primary-color);
    position: absolute;
}

a {
    text-decoration: none;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--accent1-color);
}

header nav {
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.hero{
    position: relative;
}

.hero article img {
    width: 300px;
    height: auto;
    position: absolute;
    bottom: 250px;
    left: 530px;
}

.hero img {
    display: block;
    width: 500px;
    height: auto;
}

.hero article {
    position: absolute;
    top: 50rem;
    left: 20px;
    padding: 10px;
}

.hero h1 {
    position: absolute;
    bottom: 20px;
    width: 500px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 5rem;
    text-align: center;
}

.hero article p {
    position: absolute;
    width: 500px;
    height: auto;
    font-size: 16px;
    bottom: 234px;
    padding-top: 62px;
    padding-bottom: 62px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--accent2-color);
    color: var(--accent1-color);
}

h2 {
    position: relative;
    display: flex;
    width: 100%;
    padding: 4rem;
    color: var(--primary-color);
    font-size: 2rem;
    top: 175px;
}

section p {
    position: relative;
    display: block;
    top: 100px;
    color: var(--primary-color);
}

section img {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    width: 250px;
    height: auto;
    position: relative;
}

footer p {
    clear: both;
    padding-top: 9rem;
}

footer nav a img {
    width: 50px;
    height: auto;
    padding: 1rem;
    top: 3rem;
    background-color: var(--accent2-color);
    float: inline-start;
    border: 5px solid var(--primary-color);
}