:root {
    --background-color: darkblue;
    --padding: 10px;
    --border: 1px solid black;
    --color: white;
}

nav {
    background-color: var(--background-color);
    padding: var(--padding);
}

nav a {
    color: var(--color);
    display: block;
    padding: var(--padding);
}

h1 {
    color: var(--color);
}

img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 500px;
}

aside {
    width: 350px;
    margin: 10px;
    border: 1px dotted dodgerblue;
    padding: var(--padding);
    background-color: var(--background-color);
    color: var(--color);
}

aside img {
    width: 200px;
    height: auto;
    margin-bottom: 15px;
}

main img {
    width: 150px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 3px dotted darkblue;
    text-align: center;
}