:root {
    --background-color: darkblue;
    --padding: 10px;
    --border: 1px solid black;
    --color: white;
}

nav {
    background-color: var(--background-color);
    padding: var(--padding);
}

nav a {
    color: var(--color);
    display: block;
    padding: var(--padding);
}

h1 {
    color: var(--color);
}

img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
    float: right;
    position: relative;
}

p {
    padding: 0;
    width: 300px;
}

main {
    max-width: none;
}

main p {
    display: flex;
    align-items: center;
    height: 14rem;
}

footer p {
    position: absolute;
    left: 47.5%;
}

aside {
    width: 350px;
    margin: 10px;
    border: 1px dotted dodgerblue;
    padding: var(--padding);
    background-color: var(--background-color);
    color: var(--color);
    position: relative;
    float: inline-start;
}

aside img {
    width: 200px;
    height: auto;
    top: 15px;
    margin-bottom: 15px;
}

main img {
    right: 125rem;
    width: 150px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 3px dotted darkblue;
    text-align: center;
    clear: both;
}